@import "src/assets/style/variables";
@import "src/assets/style/mixins";

.page-question-create {
  &__cards {
    display: flex;
    flex-direction: column;
  }
  input {
    color: $mainBlackColor;
  }
  &__empty-card {
    @include emptyCardStyles;
  }
}
