<div class="question-list-page">
  <div class="field">
    <mat-card *ngFor="let card of unanswered">
      <mat-card-title>Question card{{ card.id }}</mat-card-title>
      <mat-card-subtitle
        >Creation Date: {{ card.date | date }}</mat-card-subtitle
      >
      <p>{{ card.question }}</p>
      <app-single-card
        *ngIf="card.type === cardType.single"
        [card]="card"
        (change)="onChange($event)"
      ></app-single-card>
      <app-multiple-card
        *ngIf="card.type === cardType.multiple"
        [card]="card"
        (change)="onChange($event)"
      ></app-multiple-card>
      <app-open-card
        *ngIf="card.type === cardType.open"
        [card]="card"
        (change)="onChange($event)"
      ></app-open-card>
      <mat-card-actions align="end">
        <button
          mat-button
          type="submit"
          form="unanswered"
          (click)="onSubmit(card)"
          [disabled]="isSubmitDisabled(card.id)"
        >
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="field field--answered">
    <mat-card *ngFor="let card of answered">
      <mat-card-title>Question card{{ card.id }}</mat-card-title>
      <mat-card-subtitle>
        Creation Date: {{ card.date | date }}, Answer date:
        {{ card.answerDate | date: "medium" }}
      </mat-card-subtitle>
      <p>{{ card.question }}</p>
      <app-single-card
        *ngIf="card.type === 'single'"
        [card]="card"
        (change)="onChange($event)"
      ></app-single-card>
      <app-multiple-card
        *ngIf="card.type === 'multiple'"
        [card]="card"
        (change)="onChange($event)"
      ></app-multiple-card>
      <app-open-card
        *ngIf="card.type === 'open'"
        [card]="card"
        (change)="onChange($event)"
      ></app-open-card>
      <mat-card-actions align="end">
        <button mat-button (click)="onUndo(card)">Undo</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
