<section class="question-manage">
  <div class="question-manage__cards">
    <mat-card *ngFor="let card of cards">
      <mat-card-title>Question card №{{ card.id }}</mat-card-title>
      <mat-card-subtitle>
        Date: {{ card.date | date }}, type: {{ card.type }}, answered:
        {{ card.isAnswered }}
      </mat-card-subtitle>
      <p>{{ card.question }}</p>
      <app-single-card
        *ngIf="card.type === cardType.single"
        [card]="card | singleQuestion"
        [mode]="'manage'"
      ></app-single-card>
      <app-multiple-card
        *ngIf="card.type === cardType.multiple"
        [card]="card | multipleQuestion"
        [mode]="'manage'"
      ></app-multiple-card>
      <app-open-card
        *ngIf="card.type === cardType.open"
        [card]="card | openQuestion"
        [mode]="'manage'"
      ></app-open-card>
      <mat-card-actions align="end">
        <button mat-raised-button color="warn" (click)="onDelete(card.id)">
          Delete
        </button>
        <button
          mat-raised-button
          color="accent"
          routerLink="../edit"
          [queryParams]="{ id: card.id }"
        >
          Edit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
