@import "src/assets/style/mixins";

.field {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 20px;
  &__title {
    @include sectionTitleStyles;
  }
}

mat-card {
  @include cardStyles;
}
