<div class="field" *ngIf="cards">
  <mat-card *ngFor="let card of cards">
    <mat-card-title>Question card{{ card.id }}</mat-card-title>
    <mat-card-subtitle
      >Creation Date: {{ card.date | date: "medium" }}
      <span *ngIf="card.answerDate">
        Answer date:
        {{ card.answerDate | date: "medium" }}
      </span>
    </mat-card-subtitle>
    <p>{{ card.question }}</p>
    <app-single-card
      *ngIf="card.type === cardType.single"
      [card]="card | singleQuestion"
      (change)="onCardChange($event)"
    ></app-single-card>
    <app-multiple-card
      *ngIf="card.type === cardType.multiple"
      [card]="card | multipleQuestion"
      (change)="onCardChange($event)"
    ></app-multiple-card>
    <app-open-card
      *ngIf="card.type === cardType.open"
      [card]="card | openQuestion"
      (change)="onCardChange($event)"
    ></app-open-card>
    <mat-card-actions align="end">
      <button
        *ngIf="!card.isAnswered"
        mat-raised-button
        color="primary"
        type="submit"
        form="unanswered"
        (click)="onSubmit(card)"
        [disabled]="isCardInvalid(card.id)"
      >
        Submit
      </button>
      <button
        *ngIf="card.isAnswered"
        mat-raised-button
        color="warn"
        (click)="onUndo(card)"
      >
        Roll back
      </button>
    </mat-card-actions>
  </mat-card>
  <ng-content select=".field__title"></ng-content>
</div>
